<?xml version="1.0" encoding="UTF-8"?>
<!-- 开发环境配置 -->
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"
        profile="production">
 
        <bean id="Person" class="spring.core.profile_xml_configration.Person">
            <property name="id" value="1" />
            <property name="name" value="dev-person" />
        </bean>
</beans>